* {
	box-sizing: border-box;
	text-align:center;
	font-family: sans-serif;
}
body {
	background-color: skyblue;
	background-image: url('images/citrus.gif');
	background-repeat: repeat;
}
button {
	background-color: #5cb85c;
	color: white;
	border: none;
	border-radius: 3px;
	margin-bottom: 15px;
}
button.dietary-preference {
	color: #ddd;
}
h1 {
	text-shadow: 1px 1px 1px chartreuse;
}
h3 {
	font-size: 18px;
}
.content {
	width: 100%;
}
.menu {
	float:left;
	width: 65%;
}
.shoppingCart {
	width: 30%;
	float: left;
	background-color: white;
	color: black;
	border: 1px solid black;
	padding: 10px;
	margin: 20px;
	overflow: hidden;
}
.drinkMenu, .plateMenu{
	background-color: white;
	color: black;
	border: 1px solid black;
	padding: 10px;
	margin: 20px;
}
.description {
	font-size: 20px;
	color: chartreuse;
	text-shadow: 1px 1px 1px black;
}
.information {
	font-size: 14px;
	color:#999;
}
form {
	position: fixed;
	margin: auto;
	height: 50%;
	width: 50%;
	top:0;
	left: 0;
	right: 0;
	bottom:0;
	background-color: white;
	border: 1px solid black;
}
ul {
	list-style-image: url('images/plus.jpeg');
}
li:hover {
	list-style-image: url('images/orangeplus.jpeg');
	cursor: hand;
}
.totalPrice {
	border: 1px solid black;
}
.shoppingCart table {
	width: 100%;
	font-size: 14px;
}
.tname {
	text-align: left;
}
.tquantity {
	text-align: right;
}
.tprice {
	text-align: right;
}
.shoppingCart input {
	width: 50px;
}
.highlight{
	background-color: #fffff7;
	border: 1px dashed #dfd;
}
button.active {
	color: white;
}