* {
	box-sizing: border-box;
	text-align:center;
	font-family: sans-serif;
}
body {
	background-color: skyblue;
	background-repeat: url('/citrus-seamless-pattern.gif');
	background-repeat: repeat;
}
button {
	background-color: silver;
}
h1 {
	text-shadow: 1px 1px 1px chartreuse;
}
.drinkMenu, .plateMenu{
	background-color: white;
	color: black;
	border: 1px solid black;
	padding: 10px;
	margin: 20px;
}
.description {
	font-size: 20px;
	color: chartreuse;
	text-shadow: 1px 1px 1px black;
}
.information {
	font-size: 14px;
	color:#999;
}
.shoppingCart {
	background-color: white;
	color: black;
	border: 1px solid black;
	padding: 10px;
	margin: 20px;
}

form {
	position: fixed;
	margin: auto;
	height: 50%;
	width: 50%;
	top:0;
	left: 0;
	right: 0;
	bottom:0;
	background-color: white;
	border: 1px solid black;
}
.active {
	display: block;
}
.hide {
	display:none;
}